.container {
    display: flex;
    flex-direction: column;
}

.container-left {
    justify-content: end;
    margin-right: 51%;
    margin-top: 2rem;
}

.container-right {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.container-projects {
    margin-left: 51%;
    margin-bottom: 2rem;    
}

.date {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/*
@media screen and (min-width: 601px) {
    .container-description {
        width: 49%;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 0px;
        margin: 0px;
        margin-top: 2%;
    }

    .container-projects {
        width: 49%;
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0px;
        padding: 0px;
        margin: 0px;
    }
}

@media screen and (max-width: 600px) {
    .container-description {
        width: 100%;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: auto;
        margin: 0px;
        padding: 0px;
        margin-top: 2%;
    }

    .container-projects {
        width: 100%;
        height: auto;
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 0px;
        margin: 0px;
    }
}
*/