html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #CBC6AF;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

.text-align-right {
    text-align: right
}

.text-align-left {
    text-align: left
}

.container-description {
    width: 50%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 20px;
}

.container-projects {
    width: 50%;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 20px;
}
